<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Урок 14 - Строим запросы к таблице с данными "Netflix"</title>
    <link href="/static/styles.min.css" rel="stylesheet">
</head>
<body>
<main class="container">

    <h2>Результаты поиска:</h2>
    <hr>
    {% if film %}
    <table>
        <tr><td>Название:</td>      <td>{{ film.title }}</td></tr>
        <tr><td>Страна:</td>        <td>{{ film.country }}</td></tr>
        <tr><td>Год выпуска:</td>   <td>{{ film.release_year }}</td></tr>
        <tr><td>Жанр:</td>          <td>{{ film.listed_in }}</td></tr>
        <tr><td>Описание:</td>      <td>{{ film.description }}</td></tr>
        <tr><td>id:</td>            <td>{{ film.show_id }}</td></tr>
    </table>
    {% endif %}
    <hr>
    <p><a href="/">Вернуться на главную</a></p>
</main>
</body>
</html>